@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Color Palette System */
:root {
  /* Primary Colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  /* Additional Canvas Background from Asset Image */
  --bg-neutral: hsl(0, 0%, 96%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: var(--bg-neutral);
  padding: 0.8889rem;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bento-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 20.8333rem;
}

.card {
  background-color: var(--white);
  border-radius: 0.6rem;
  padding: 18px;
  width: 100%;
}

.card-ai {
  background-color: var(--purple-500);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem 3rem;
}

.card-ai h1 {
  text-align: center;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 1;
}

.ai-rate {
  color: var(--yellow-500);
}

.card-ai-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
}

.card-ai-rating img {
  width: 10.6667rem;
  height: auto;
}

.card-ai p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
  color: var(--white);
  opacity: 0.9;
}

.card-accounts {
  display: flex;
  flex-direction: column;
  gap: 18px;
  width: 100%;
  align-items: center;
  justify-content: center;
  padding: 18px;
}

.card-accounts img {
  width: 100%;
  height: auto;
}

.card-accounts p {
  font-size: 1.65rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -1.8px;
  color: var(--black);
}

.card-schedule {
  background-color: var(--yellow-500);
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 18px 18px 0 18px; /* Top, Right, Bottom (0), Left padding walls */
  overflow: hidden; /* Slices the overflowing bottom image cleanly at the card radius */
}

.card-schedule p {
  font-size: 1.65rem;
  font-weight: 500;
  line-height: 1.5rem;
  letter-spacing: -1.8px;
  color: var(--black);
}

.card-schedule img {
  width: 70%;
  height: auto;
}

.card-post-timings {
  display: flex;
  flex-direction: column;
  background-color: var(--purple-100);
  overflow: hidden;
  gap: 18px;
  padding: 32px 18px;
}

.card-post-timings h1 {
  font-size: 1.65rem;
  text-align: center;
  letter-spacing: -1.6px;
}

.card-post-timings img {
  width: 100%;
  height: auto;
}

.card-post-timings p {
  text-align: center;
  line-height: 1.1;
  letter-spacing: -0.5px;
  font-weight: 400;
  font-size: 20px;
  color: var(--black);
  opacity: 0.9;
}

.card-grow-followers {
  background-color: var(--purple-500);
  display: flex;
  flex-direction: column;
  gap: 36px;
  padding: 18px 36px 24px 36px;
}

.card-grow-followers img {
  width: 85%;
  align-self: center;
}

.card-grow-followers p {
  text-align: center;
  color: var(--white);
  font-weight: 500;
  font-size: 32px;
  line-height: 0.8;
  letter-spacing: -1px;
}

.card-growth-stat {
  padding: 18px 24px;
  background-color: var(--white);
  color: var(--black);
  display: flex;
  flex-direction: column;
}

.card-growth-stat h2 {
  font-weight: 500;
  font-size: 45px;
}

.card-growth-stat p {
  font-size: 18px;
  font-weight: 400;
  color: var(--black);
  opacity: 0.9;
  margin-bottom: 24px;
}

.card-growth-stat img {
  width: 62%;
  margin-bottom: 6px;
}

.card-create-quicker {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 32px;
  background-color: var(--yellow-100);
}

.card-create-quicker h2 {
  font-size: 32px;
  color: var(--black);
  font-weight: 500;
  line-height: 0.8;
  letter-spacing: -1.5px;
}

.quicker {
  font-style: italic;
  color: var(--purple-500);
}

.card-create-quicker img {
  width: 68%;
  height: auto;
}

.card-write-content {
  
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
