@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&display=swap');

/* Color Palette System */
:root {
  /* Primary Colors */
  --purple-100: hsl(254, 88%, 90%);
  --purple-500: hsl(256, 67%, 59%);
  --yellow-100: hsl(31, 66%, 93%);
  --yellow-500: hsl(39, 100%, 71%);

  /* Neutral Colors */
  --white: hsl(0, 0%, 100%);
  --black: hsl(0, 0%, 7%);

  /* Additional Canvas Background from Asset Image */
  --bg-neutral: hsl(0, 0%, 96%);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

body {
  font-family: 'DM Sans', sans-serif;
  font-size: 18px;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  background: var(--bg-neutral);
  padding: 0.8889rem;
  min-height: 100vh;
}

main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.bento-grid {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
  max-width: 20.8333rem;
}

.card {
  background-color: var(--white);
  border-radius: 0.6rem;
  padding: 1.5rem;
  width: 100%;
}

.card-ai {
  background-color: var(--purple-500);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  padding: 2.5rem 3rem
}

.card-ai h1 {
  text-align: center;
  font-weight: 500;
  font-size: 2.3rem;
  line-height: 1;
}

.ai-rate {
  color: var(--yellow-500);
}

.card-ai-rating {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem; /* Squeezes the stars and text close together */
}

.card-ai-rating img {
  width: 10.6667rem;
  height: auto;
}

.card-ai p {
  font-size: 18px;
  font-weight: 400;
  text-align: center;
}

.attribution {
  font-size: 0.6875rem;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
